.order-list {
  width: 100%;
  .order-filter {
    color: #808080;
    display: inline-block;
    position: relative;
    border: 1px solid #dadddf;
    background-color: #edeff2;
    width: calc(100% - 2px);
    height: 40px;
    .form-input {
      display: inline-block;
      height: 30px;
      float: left;
      line-height: 40px;
    }
    .month-area {
      width: 40%;
      > ul {
        width: 100%;
        margin-top: 6px;
        margin-left: 2px;
        display: table;
        border: 1px solid #f0f5f8;
        > li {
          width: calc(20% - 1px);
          display: table-cell;
          float: left;
          border-left: 1px solid #f0f5f8;
          background-color: #fff;
          line-height: 30px;
          text-align: center;
          cursor: pointer;

        }
      }
    }
    .date-range-area {
      width: 30%;
      > input {
        width: 102px;
        border: 1px solid #d5d8dc;
        background-color: #fff;
        line-height: 30px;
        font-size: 12px;
        text-decoration: none;
        text-indent: 10px;
        margin: 0px 3px;
      }

    }
    .order-status {
       width: 20%;
      > select {
        height: 35px;width: 120px;
        border: 1px solid #d5d8dc;
        background-color: #fff;
        cursor: default;
      }
    }

    .btn-area {
      width: 10%;
      .submit-btn {
        width: 60px;
        height: 32px;
        vertical-align: middle;
        >i {
          padding-left: 4px;
        }
      }
    }
  }
  .order-table {
    .item-list {
      .order-item {
        width: 100%;
        display: table;
        min-height: 161px;
        border-bottom: 1px solid #dadddf;
        min-height: 161px;
        padding: 30px 0 24px;

        .item-info {
          display: table-cell;
          width: 70%;
          float: left;
          min-height: 161px;
          text-align: left;

          >a {
            display: block;
            text-decoration: none;
          }

          .inner {
            min-height: 161px;
            position: relative;
            padding-left: 129px;
          }

          .item-thumb {
            width: 90px;
            height: 90px;
            position: absolute;
            text-align: center;
            background-color: #f0f5f8;
            left: 10px;
          }
          .item-name {
            max-width: 100%;
            overflow: hidden;
            color: #000;
            font-size: 16px;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            text-decoration: none;
          }
          .item-price {
            display: inline-block;
            color: #000;
            padding-right: 5px;
            font-size: 14px;
            line-height: 18px;
            border-right: 1px solid black;
            margin-right: 5px;
          }
          .item-date {
            display: inline-block;
            color: #a5a5a5;
          }
          .item-status {
            color: white;
            >span {
              border-radius: 40px;
              height: 25px;
              display: inline-block;
              line-height: 25px;
              width: 65px;
              font-weight: bold;
              text-align: center;
              font-size: 15px;
            }
            .status0 {
              background-color: #27AE60;

            }
            .status1 {
              background-color: #E74C3C;

            }
            .status2 {
              background-color: #FFC300;

            }
            .status3 {
              background-color: #2980B9;

            }
            .status4 {
              background-color: #6027AE;

            }

          }
        }
        .seller-info {
          display: table-cell;
          width: 15%;
          float: left;

          .inner {
            padding: 0 15px;
          }

          .seller-name {
            margin-bottom: 5px;
            font-size: 11px;
          }
          .seller-phone {
            margin-bottom: 5px;
            color: #a5a5a5;
            font-size: 11px;
          }
          button {
            width: 55px;
            height: 20px;
            margin: 0 auto;
            color: #a5a5a5;
            font-size: 9px;
            line-height: 9px;
            text-decoration: none;
          }
        }
        .btn-list {
          display: table-cell;
          width: 15%;
          float: left;
          text-align: center;
          button {
            margin-bottom: 5px;
            width: 110px;
            height: 29px;
            color: #424242;
            font-size: 13px;
            line-height: 27px;
            text-decoration: none;
            display: block;
          }
        }

      }
    }
  }
}