.order-list {
  .order-filter {
    color: #808080;
    display: inline-block;
    position: relative;
    border: 1px solid #dadddf;
    background-color: #edeff2;
    width: 100%;
    >form {
      padding: 19px 27px;
      width: 100%;
      display: inline-block;
    }
    .form-input {
      display: inline-block;
      height: 30px;
      float: left;
    }
    .month-area{
      width: 40%;
      >ul {
        width: 100%;
        display: table;
        border: 1px solid #f0f5f8;
        >li {
          width: calc(20% - 1px);
          display: table-cell;
          float: left;
          border-left: 1px solid #f0f5f8;
          background-color: #fff;
          line-height: 30px;
          text-align: center;
        }
      }
    }
    .date-range-area {
      width: 30%;
      >input {
        width: 102px;
        border: 1px solid #d5d8dc;
        background-color: #fff;
        line-height: 30px;
        font-size: 12px;
        text-decoration: none;
        text-indent: 10px;
      }

    }
    .order-status {
      width: 20%;
      >select {
        width: 120px;
        border: 1px solid #d5d8dc;
        background-color: #fff;
        cursor: default;
      }
    }

    .btn-area {
      width: 10%;
      .submit-btn {
        width: 60px;
        height: 32px;
        vertical-align: middle;
      }
    }
  }
}