.App {
  text-align: center;

  .container{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    .left-section{
      display: block;
      float: left;
      width: 220px;
      margin-right: 40px;
      padding-bottom: 15px;
      background-color: #f3f4f5;
    }
    .right-section {
      display: block;
      float: left;
      position: relative;
      width: 840px;
      padding-bottom: 70px;
    }
  }
}
