.order-summary {
  .summary_menu {
    >ul {
      width: 100%;
      list-style: none;
      display: table;
      font-size: 12px;
      table-layout: fixed;
      >li {
        display: table-cell;
        width: 20%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        padding: 1px 0 1px 1px;
        background-color: #606e89;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
      }
      li:not(:first-child) {
        border-left: 1px solid #4e5a72;
      }
    }

  }
  .summary_content {
    position: relative;
    padding: 20px 347px 20px 0;
    border: 1px solid #dadddf;
    background-color: #edeff2;
    >ul {
      display: table;
      width: 100%;
      >li {
        display: table-cell;
        width: 33.1%;
        text-align: center;
        >i {
          font-size: 30px;
          padding: 15px;
          width: 30px;
          height: 30px;
          color: white;
          background-color: #606e89;
          display: block;
          border-radius: 50px;
          margin: 10px 0px 10px 30px;
          float:left
        }
        >strong {
          font-size: 40px;
          float: left;
          margin-top: 15px;
          margin-left: 15px;
          font-weight: 300;
          color: #4e5a72;
        }
        >label {
          display: block;
        }
      }
    }
  }
}